<!doctype html>
<html class="h-100" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Shuffler - {{ page.title }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/all.css">
    <link rel="stylesheet" href="assets/css/master.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="assets/js/main.js" charset="utf-8"></script>
  </head>
  <body class="d-flex flex-column h-100">

    <header class="navbar sticky-top navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Deck Shuffler</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item {% if page.title == 'Home' %} active {% endif %}">
            <a class="nav-link" href="./">Home</a>
          </li>
          <li class="nav-item {% if page.title == 'Info' %} active {% endif %}">
            <a class="nav-link" href="./info.html">Info</a>
          </li>
        </ul>
      </div>
    </header>

    <main class="flex-shrink-0 mb-4" role="main">
      <div class="container">
        {{ content }}
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light border border-top">
      <div class="container text-muted">
        <span>Deck Shuffler created by Humberto Fraga. <a href="https://gitlab.com/humbertofraga/deckshuffler">Source code in gitlab.com</a> </span><br/>
        <span>All card names are property of Wizards of the Coast</span>
      </div>
    </footer>

  </body>
</html>
