main {
  padding: 0px;
}

.hidden {
  visibility: hidden;
  height: 0px;
}

#decklist {
  font-family: monospace;
}

#dropdown_colors {
  min-width: 8em;
}

#card_preview {
  object-fit: scale-down;
  width: 100%;
}
