---
layout: default
title: Home
---
        <div class="row pb-2">
          <div class="navbar navbar-light bg-light rounded col-sm-12">
            <span id="deckname" class="navbar-brand"></span>
            <form class="form-inline btn-group">
              <button type="button" class="btn btn-outline-dark" onclick="generate_deck()">
                <i class="fas fa-sync"></i> Random deck
              </button>
              <button type="button" class="btn btn-outline-dark" onclick="start_draft()">
                <i class="fas fa-sync"></i> Draft packs
              </button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">

            <div id="draft_accordion" class="accordion hidden">
              <div class="card">
                <div class="card-header" id="header1">
                  <button type="button" class="btn btn-block btn-link text-left">
                    Pack #1
                  </button>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="header1" data-parent="#draft_accordion">
                  <div class="card-body d-flex justify-content-around" id="draft_choice1">
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="header2">
                  <button type="button" class="btn btn-block btn-link text-left">
                    Pack #2
                  </button>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="header2" data-parent="#draft_accordion">
                  <div class="card-body d-flex justify-content-around" id="draft_choice2">
                  </div>
                </div>
              </div>
            </div>

            <div id="deckframe" class="bg-light border border-dark rounded p-2 clearfix">
              <span class="fas fa-copy float-right" onclick="copy_deck()"></span>
              <div id="decklist" class="user-select-all">

              </div>
            </div>
          </div>

          <div class="col-sm-4 pt-2">
            <img src="" alt="" id="card_preview" />
          </div>
        </div>

        <div class="d-flex justify-content-center fixed-bottom mb-5">
          <div id="toast" class="toast d-flex bg-dark text-light" role="alert" aria-live="assertive" aria-atomic="true" data-delay=1000>
            <div id="toast_message" class="toast-body">
              Copied to clipboard!
            </div>
          </div>
        </div>
