---
layout: default
title: Info
---
    <div class="row">
      <div class="col col-md-8 col-md-6">
        <h2>About</h2>
        <p>This application randomizes two <em>JumpStart</em> packs listed on
           the <a href="https://mtg.gamepedia.com/Jumpstart">MTG Wiki</a> and
           list them in an unified deck, ready to be imported in cardgame clients.
        </p>
        <h2>Changelog</h2>
        <dl>
          <dt>2020-07-13</dt>
          <dd>First version, generates the deck based on the non-Arena packs and
            exports in simple text format.
          </dd>
        </dl>
        <h2>Roadmap</h2>
        <dl>
          <dt>MTG Arena version</dt>
          <dd>Export decks in Arena format, swapping the unavaialbe cards for
            the Arena couterparts.
          </dd>
        </dl>
      </div>
    </div>
